# Ignore everything by default (optional "safe" approach)
*

# Core Home Assistant files to ignore
*.db
*.db-shm
*.db-wal
*.log
secrets.yaml
__pycache__/
.DS_Store

# Home Assistant internal storage and keys
.storage/
.cloud/
.google.token
ip_allows.yaml
ssh/

# Ignore backups and temporary files
backups/
tmp/
deps/
secrets/

!.gitattributes
!.github/
!.github/**/
!.github/**/*.json
!.github/**/*.json5

# Whitelist files you WANT to track (if using "ignore everything")
!*.yaml
!*.md
!addon_configs/
!automations/
!automations/**/
!blueprints/
!blueprints/**/
!bubble_card/
!bubble_card/**/
!build/
!build/**/
!groups/
!groups/**/
!media/
!media/**/
!packages/
!packages/**/
!python_scripts/
!python_scripts/**/
!scenes/
!scenes/**/
!scripts/
!scripts/**/
!supernotify/
!supernotify/**/
!templates/
!templates/**/
!themes/
!themes/**/
!ui-lovelace/
!ui-lovelace/**/
!www/
!www/**/streamline_templates.yaml
!dummy.txt
!groups.yaml
!automations.yaml
!scenes.yaml
!scripts.yaml

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!*.yml
!.gitignore
!.HA_VERSION
!*.j2
!*.jpg
!*.js
!*.md
!*.py
!*.svg
!*.png
!*.ps1
!*.css

custom_components/
secrets.yaml
